<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Dodaj Lekarza</title>
</head>
<body>
<h1>Dodaj Lekarza</h1>
<form action="/doctor/save" method="post" th:object="${doctor}">
    <label>Imię Lekarza</label>
    <input th:field="*{nameOfDoctor}"/>
    <br />
    <label>Nazwisko Lekarza</label>
    <input th:field="*{surnameOfDoctor}"/>
    <br />
    <label>Specjalizacja</label>
    <input th:field="*{specializacion}"/>

    <input type="submit" value="Dodaj Lekarza"/>
</form>
<a href="/">Powrót</a>

</body>
</html>