<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Dodaj wizyte lekarską</title>
</head>
<body>
<h1>Dodaj wizyte lekarska</h1>
<form action="/visit/save" method="post" th:object="${medicalVisit}">

    <label>Data wizyty lekarskiej</label>
    <input type="datetime-local" th:field="*{dateAndTimeOfVisit}"/>
    <br />

    <label>Pacjent</label>
    <select name="patient" id="patient">
        <option th:each="p:${patient}" th:value="${p.getId()}" th:text="${p.getFullPatientName()}"></option>
    </select>

    <br />
    <label>Lekarz</label>
    <select name="doctor" id="doctor">
        <option th:each="doc:${doctor}" th:value="${doc.getId()}" th:text="${doc}"></option>
    </select>
    <br />
    <input type="submit" value="Dodaj Pacjenta"/>
</form>
<a href="/">Powrót</a>

</body>
</html>