<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Przychodnia Lekarska - Die Fast</title>
</head>
<body>
    <h1>Przychodnia lekarska - DIE FAST</h1>
    <h3>Umów wizytę lekarską</h3>
    <a href="/visit">Lista wizyt</a>
    <a href="/visit/add">Dodaj wizyte lekarską</a>
    <br/><br/>
    <h4>Dodaj Pacjenta</h4>
    <a href="/patient">Lista pacjentów</a>
    <a href="/patient/add">Dodaj Pacjenta</a>
    <h4>Dodaj Lekarza</h4>
    <a href="/doctor">Lista lekarzy</a>
    <a href="/doctor/add">Dodaj Lekarza</a>



</body>
</html>